
.jumbotron {
    background: url('../img/board/MoneyThink2020Board.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 250px 25px;

    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.img-thumbnail {
    width: 100%;
}

footer {
    background-color: darkslategray;
    color: white;
    padding: 50px;
}

#googleMap {
    height:400px;
    width:100%;
}
